<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="saka.busssiness.Properties.Settings.kpiConnectionString"
            connectionString="Data Source=EE\SQLEXPRESS;Initial Catalog=kpi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>